html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: lemonchiffon;
}

h1 {
    margin: 10px;
}

button {
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(161, 161, 161);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: lemonchiffon;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(95, 129, 160);
}

#booksContainer {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
}

#newBook {
    margin: 5px;
    width: 204px;
    height: 304px;
    background-color: inherit;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

#newBook:hover {
    background-color: rgb(255, 247, 176);
}

#formContainer {
    z-index: 1;
    position: absolute;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(95, 129, 160);
    border-radius: 10px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.5);
}

svg {
    width: 50%;
}

.book {
    margin: 5px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.hidden {
    display: none;
}